.test {
    width: 200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-width: 3px;

 
}
.reset {
    width: 100px;
    height: 100px;
    fONT-SIZE: 8pt;
    background-image: url("restart.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

 
}

